header {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1;
}

.container-home {
  grid-column: 1/3;
}

.title-container {
  grid-column: 4/8;
  justify-self: center;
  align-self: center;
}

.user-container {
  display: flex;
  align-items: center;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 10/11;
}

.cart-container button {
  border: none;
}

.cart {
  color: blue;
  margin: 10px;
}
.link-cart-active {
  margin: 10px;
  border: 2px solid blue;
  border-radius: 50px;
}

h1 {
  font-size: 3rem;
}